@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Poppins , sans-serif;
    /* background-color: rgb(100, 89, 89); */
}
.heading1{
    padding-top: 50px;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: space-around;
    padding: 20%;
}
button{
    font-weight: bold;
    padding:1rem;
    border-radius: 20px;
    border:none;
    box-shadow: 10px 5px 5px rgb(100, 89, 89);
   
}
button:hover{
    box-shadow: 10px 5px 5px rgb(187, 91, 91);
    cursor: pointer;
}